.header-color {
    background: $headerBg;  /* fallback for old browsers */
    background: $headerWebkit;  /* Chrome 10-25, Safari 5.1-6 */
    background: $headerGradient; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
    background: $headerBg;
    background: $headerWebkit;
    background: $headerGradient;
    text-align: center;    
}